In [1]:
from etl.extract import extract_data_from_bigquery
import pandas as pd

df = extract_data_from_bigquery()

# set setting to show all columns
pd.set_option('display.max_columns', None)

INFO - Query returned 10000 rows and 61 columns

In [2]:
df.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,Actor1Religion1Code,Actor1Religion2Code,Actor1Type1Code,Actor1Type2Code,Actor1Type3Code,Actor2Code,Actor2Name,Actor2CountryCode,Actor2KnownGroupCode,Actor2EthnicCode,Actor2Religion1Code,Actor2Religion2Code,Actor2Type1Code,Actor2Type2Code,Actor2Type3Code,IsRootEvent,EventCode,EventBaseCode,EventRootCode,QuadClass,GoldsteinScale,NumMentions,NumSources,NumArticles,AvgTone,Actor1Geo_Type,Actor1Geo_FullName,Actor1Geo_CountryCode,Actor1Geo_ADM1Code,Actor1Geo_ADM2Code,Actor1Geo_Lat,Actor1Geo_Long,Actor1Geo_FeatureID,Actor2Geo_Type,Actor2Geo_FullName,Actor2Geo_CountryCode,Actor2Geo_ADM1Code,Actor2Geo_ADM2Code,Actor2Geo_Lat,Actor2Geo_Long,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,1172853055,20240430,202404,2024,2024.3288,USAEDU,UNITED STATES,USA,None,None,None,None,EDU,None,None,None,None,None,None,None,None,None,None,None,None,0,042,042,04,1,1.9,2,1,2,-5.253067,2,"Washington, United States",US,USWA,None,47.3917,-121.5710,WA,0,None,None,None,None,NaN,NaN,None,4,"Gaza, Israel (general), Israel",IS,IS00,18315,31.4167,34.3333,-797156,20240430030000,http://www.middletownpress.com/news/article/de...
1,1172852890,20240430,202404,2024,2024.3288,USA,UNITED STATES,USA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1,014,014,01,1,0.0,8,1,8,1.632653,3,"Ward County, North Dakota, United States",US,USND,ND101,48.2167,-101.4590,1034231,0,None,None,None,None,NaN,NaN,None,3,"Ward County, North Dakota, United States",US,USND,None,48.2167,-101.4590,1034231,20240430030000,https://www.kxnet.com/news/top-stories/north-d...
2,1172852895,20240430,202404,2024,2024.3288,USA,UNITED STATES,USA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,040,040,04,1,1.0,2,1,2,-6.756757,3,"Lucas County, Ohio, United States",US,USOH,OH095,41.6501,-83.6666,1074060,0,None,None,None,None,NaN,NaN,None,3,"Lucas County, Ohio, United States",US,USOH,None,41.6501,-83.6666,1074060,20240430030000,https://www.wtol.com/article/news/health/tick-...
3,1172852896,20240430,202404,2024,2024.3288,USA,UNITED STATES,USA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1,040,040,04,1,1.0,1,1,1,1.223242,3,"Grove City College, Pennsylvania, United States",US,USPA,PA085,41.1556,-80.0792,1176274,0,None,None,None,None,NaN,NaN,None,3,"Grove City College, Pennsylvania, United States",US,USPA,None,41.1556,-80.0792,1176274,20240430030000,https://natlawreview.com/author/donald-c-blued...
4,1172852906,20240430,202404,2024,2024.3288,USA,UNITED STATES,USA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1,051,051,05,1,3.4,2,1,2,1.223242,3,"Grove City College, Pennsylvania, United States",US,USPA,PA085,41.1556,-80.0792,1176274,0,None,None,None,None,NaN,NaN,None,3,"Grove City College, Pennsylvania, United States",US,USPA,None,41.1556,-80.0792,1176274,20240430030000,https://natlawreview.com/author/donald-c-blued...

In [ ]:
# save 5 rows to csv
df.head().to_csv('data/5_rows.csv', index=False)